/*Default*/
body {
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*main config*/
.main{
  text-align: center;
  margin:0 auto;
}

/*Cell manipulation*/
.cell {
  width: 90px;
  height: 90px;
  display:inline-block;
  border-radius: 50%;
  background: #DCDCDC;
  margin:5px 5px;
}

.cell:hover {
  cursor:pointer;
}

.cell.player1{
  background: #16a085;
  transition: all 0.3s ease;
}

.cell.player2{
  background: #e74c3c;
  transition: all 0.3s ease;
}

/*Ending and wining layouts*/
.gameEnd {
  background-color: white;
  box-shadow:
  /* The top layer shadow */
      0 1px 1px rgba(0,0,0,0.15),
          /* The second layer */
      0 10px 0 -5px #eee,
          /* The second layer shadow */
      0 10px 1px -4px rgba(0,0,0,0.15),
          /* The third layer */
      0 20px 0 -10px #eee,
          /* The third layer shadow */
      0 20px 1px -9px rgba(0,0,0,0.15);
  display: inline-block;
  width: 700px;
  padding:30px 40px;
  font-weight: bold;
  font-size:20px;
  transition: all 1s ease;
}

.gameEnd.gameWin {
  font-weight: normal;
  font-size:25px;
  padding-bottom: 70px;
}
/*circle with winner color after win*/
.winColor{
  display: inline-block;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  display: inline-block;
  position: relative;
  top:30px;
  left:10px;
}

/*some color configs for labels and cells*/
.playerLabel{
  color:black;
  display: inline-block;
  position: relative;
  bottom: 30px;
  right: 15px;
  font-size: 22px;
}

.playerColor {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin:10px auto;
}

.player2 {
  background: #e74c3c;
}

.player1 {
  background: #16a085;
}

/*button config*/
button {
  padding: 20px 50px;
  background: orange;
  border:none;
  border-radius: 10%;
  color:whitesmoke;
  text-transform: uppercase;
  font-size:15px;
  font-weight: bold;
  outline:0;
  margin-bottom: 10px;
}

button:hover {
  cursor: pointer;
}

