/*Default*/
body {
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1{
  margin:15px 0;
}

/*main config*/
.main{
  text-align: center;
  margin:0 auto;
}

/*Cell manipulation*/
.cell {
  width: 90px;
  height: 90px;
  display:inline-block;
  border-radius: 50%;
  background: #DCDCDC;
  margin:5px 5px;
}

.cell:hover {
  cursor:pointer;
}

.cell.player1{
  background: #16a085;
  transition: all 0.3s ease;
}

.cell.player2{
  background: #e74c3c;
  transition: all 0.3s ease;
}

/*Ending and wining layouts*/
.gameEnd {
  background-color: white;
  box-shadow:
  /* The top layer shadow */
      0 1px 1px rgba(0,0,0,0.15),
          /* The second layer */
      0 10px 0 -5px #eee,
          /* The second layer shadow */
      0 10px 1px -4px rgba(0,0,0,0.15),
          /* The third layer */
      0 20px 0 -10px #eee,
          /* The third layer shadow */
      0 20px 1px -9px rgba(0,0,0,0.15);
  display: inline-block;
  width: 700px;
  padding:30px 40px;
  font-size:20px;
  transition: all 1s ease;
}


.gameEnd p {
  padding-bottom: 10px;
  margin: 0;
  font-size:18px;
}

hr {
  color:orange;
  width:40%;
}

.gameEndLabel{
  font-weight: bold;
  margin-bottom: 5px;
}

.gameEnd.gameWin {
  font-weight: normal;
  font-size:25px;
  padding-bottom: 70px;
}
/*circle with winner color after win*/
.winColor{
  display: inline-block;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  display: inline-block;
  position: relative;
  top:30px;
  left:10px;
}

/*some color configs for labels and cells*/
.playerLabel{
  color:black;
  display: inline-block;
  position: relative;
  bottom: 30px;
  right: 15px;
  font-size: 22px;
}

.playerColor {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin:10px auto;
}

.player2 {
  background: #e74c3c;
}

.player1 {
  background: #16a085;
}

/*button config*/
button {
  padding: 20px 50px;
  background: orange;
  border:none;
  border-radius: 10%;
  color:whitesmoke;
  text-transform: uppercase;
  font-size:15px;
  font-weight: bold;
  outline:0;
  margin-bottom: 10px;
}

button:hover {
  cursor: pointer;
}

@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 40px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}
.option-input:hover {
  background: orange;
}
.option-input:checked {
  background: orange;
}
.option-input:checked::before {
  height: 40px;
  width: 40px;
  position: absolute;
  content: '✗';
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 40px;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: orange;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}

